body {
    /* height of available space to view the webpage; same with vw */
    height: 100vh;
    width: 100vw;
    background-image: url("https://i.imgur.com/ideNviq.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Bungee Inline', Arial;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(6, 2fr);

    grid-template-areas:
        "h h h"
        "w w w"
        ". . ."
        ". a ."
        ". . ."
        "g g g";

}

.title {
    display: grid;
    grid-area: h;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 10px;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin: 5px;
    padding: 20px;
}

h3 {
    text-align: center;
    font-size: 20;
    margin: 5px;
}


/* Game Board that shows lives*/
.game-container {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;    
    flex-direction: row;
    grid-area: g;
    align-items: center;
    justify-content: center;

} 

.boxes {
    width: 50px;
    height: 50px;
    background:white;
    border: 5px solid black;
}

.word {
    display: flex;
    grid-area: w;
    align-items: center;
    justify-content: center;

}

.word > div {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}


.alphabet {
    /* font-family: 'Bungee Inline', Arial; */
    grid-area: a;
    background-color: rgb(255, 255, 255);
    font-size: 4vh;
    height: 10vh;
    opacity: 0.7;
    margin-left: auto;
    margin-right: auto;  
    align-self: center;
    text-align: center;
}

/* .letter {
    color: red;
} */

.lives {
    width: 50px;
    height: 50px;
    background:white;
    border: 5px solid black;
    border-radius: 50%;
}

#lifeOne, #lifeTwo, #lifeThree, #lifeFour, #lifeFive {
    background: green;
}

#lifeSix {
    background: red;
}

button {
    font-family: 'Bungee Inline', Arial;
    border-radius: 12px;

}

.message-box > h3 {
    display: grid;
    background-color: white;
    opacity: 0.8;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;  
    align-self: center;
    text-align: center;

}