body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr); 
    
    /* background-image: url("https://i.imgur.com/TEcD3wP.png"); */
    background-image: url("./img/fry-prof-bender.png");

    background-position: center;
    background-size: contain;
    grid-template-areas:
        "h h h"
        "w w w"
        ". l ."
        "g g g"
}

#background {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.title {
    display: grid;
    grid-area: h;
}

h1 {
    font-family: 'Bungee Inline', Arial;
    text-align: center;
    font-size: 50px;
}

h2 {
    font-family: 'Bungee Inline', Arial;
    text-align: center;
    font-size: 30px;
}

h3 {
    font-family: Arial;
    text-align: center;
    font-size: 20;
}

.word {
    display: flex;
    grid-area: w;
    align-items: center;
    justify-content: center;

}

.letters {
    display: flex;
    text-align: center;
    justify-content: center;
    grid-area: l;
    font-size: 60px;

}

/* Game Board */
.game-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;    
    width: 100%;
    flex-direction: row;
    grid-area: g;
    align-items: center;
    justify-content: center;

} 


.boxes {
    width: 50px;
    height: 50px;
    background:white;
    border: 5px solid black;
}

.lives {
    width: 50px;
    height: 50px;
    background:white;
    border: 5px solid black;
    border-radius: 50%;
}


#lifeOne, #lifeTwo, #lifeThree, #lifeFour, #lifeFive {
    background: green;
}

#lifeSix {
    background: red;
}







/* 

.base {
    width: 112px;
    height: 47px;
    border-bottom: 1px solid black;
    position: absolute;
}

.pole {
    width: 10px;
    height: 300px;
    margin-left: 10px;
} */
